<div class="main-banner banner text-center">
  <div class="container">
    <h1>
      ALFA COMERCIAL LIMITADA
    </h1>
    <hr/>
    <h3 class="slogan">{{slogan}}</h3>
  </div>
</div>

<div class="container">
  <br/>
  <h2 class="page-title">About
    <span>Alpha</span>
  </h2>
  <br/>
  <p>
    <b>Alfa Comercial Limitada</b> is one of the largest specialist and distributors of uniforms, safety footwear, safety work
    wear, Mining, Hardware, Stationery, Coal sample plastics, Fire Equipment, dust suppressants, lockouts /tag outs and accessories
    in Southern Africa. We have built a reputation based on excellent service, competitive pricing and a wide range of top
    brands and styles. Brands include USG, Jonssons, Bova, Lemaitre, Bell, John Drake, Bova Leather Combat boots, Magnum,
    Bata, Hi-tec, Fram, Bronx Safety, amongst others. We pride ourselves on having one of the biggest selections of uniforms,
    footwear and safety accessories in the country.
  </p>
  <br/>
  <p>
    We have a central workwear depot & sales department in Tete. Our service team in place enables us to process and dispatch
    local and international orders efficiently allowing us to offer our customers great service and excellent pricing. Our
    distribution doesn’t stop there; we also take orders from the rest of Mozambique and beyond the borders. Uniforms & Safety
    Gear supplies to a large cross-section of both business and private enterprises, including the automotive industry, mining
    industry, municipalities, manufacturers, labour brokers and construction companies, to name a few
  </p>
  <br/>
  <p>
    We supply resellers, wholesalers and private individuals who do not have direct access to the various safety uniforms, footwear
    and work wear factories.
  </p>
  <br/>
  <p>
      Should you require pricing for safety uniforms, footwear and/or industrial workwear, please contact
      Uniforms & Safety Gear and we will provide you with a competitive quotation
  </p>
</div>